<!-- <div style="padding-top: 15px; padding-left: 10px;">
    <a href=""><img src="https://www.pesapal.com/media/2102/logo.png" alt="pesapal logo" style="width: 100px;"></a>
  </div>
  
  <hr>
    <div style="padding-left: 30px;">
        <button style="margin-right: 30px;">Board room</button>
        <button>Training room</button>
    </div>

    <div style="margin: 30px;"></div> -->
  
  <!-- <div class="container"> -->
    <!-- <div class="row"> -->
      <!-- <div class="col-sm-12">
        <full-calendar [options]="calendarOptions"></full-calendar>
  
      </div>
    </div>
  </div> -->
  <div class="container" *ngIf="currentUser; ">

    <p>

    </p>
  </div>