/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.fc .fc-timegrid-now-indicator-line {
    display: none !important;
}

.modal-backdrop.show {
    opacity: 0.3;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow-x: hidden;
}

// tooltip customizations
@import 'tippy.js/themes/light.css';
@import 'tippy.js/themes/light-border.css';
@import 'tippy.js/themes/material.css';
@import 'tippy.js/themes/translucent.css';

.tippy-box[data-theme~=material] {
    background-color: #1976d2;
    font-weight: 600;
    padding-left: 5px;
    border-radius: 6px;
    padding-right: 5px;
    padding-bottom: 3px;
    color: aliceblue;
}