<div style="margin: 110px;">

<p>Welcome <span>{{token.username}}</span></p>
<button (click)="logout()">Logout</button>
</div>

<hr>

<body>
    <section class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">OFFICES</h2>
                <p class="text-center">Choose Your Office to Book a Schedule</p>
            </div>
            <div class="buttons">
                <a href='schedule' class="btn btn-primary" role="button">HEADQUARTERS</a>
                <button matTooltip="Under construction"  class="btn btn-light" type="button"><strong>kabarnet</strong></button></div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>