<div style="margin: 110px;">


</div>

<hr>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
</head>

<body>
    <section class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">OFFICES</h2>
                <p class="text-center">Choose Your Office to Book a Schedule</p>
            </div>
            <div class="buttons">
                <a href='schedule' class="btn btn-primary" role="button">HEADQUARTERS</a>
                <button matTooltip="Under construction"  class="btn btn-light" type="button"><strong>kabarnet</strong></button></div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>